# ========================
# Бэкенд (Python / FastAPI)
# ========================
# Кэш и скомпилированные файлы
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
.venv/
venv/
env/

# Секретные ключи, пароли от БД
.env
.env.*
!.env.example

# Локальные базы данных (если вдруг будешь тестировать на SQLite)
*.sqlite3
*.db

# Папки с тестовыми видео и картинками
uploads/
test_videos/

# Модели машинного обучения (веса YOLO очень тяжелые)
*.pt
*.onnx
weights/


# ========================
# Фронтенд (Node.js / Vue 3)
# ========================
# Зависимости (самая тяжелая папка)
node_modules/
.npm/

# Папки готовой сборки
dist/
dist-ssr/

# Логи ошибок сборщика
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Локальные переменные окружения фронтенда
.env.local
.env.*.local


# ========================
# Системные файлы и IDE
# ========================
# Настройки редакторов кода
.vscode/
.idea/

# Мусорные файлы операционных систем
.DS_Store
Thumbs.db